.sidebar{
    background: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}
.shortcut-links img{
    width:20px;
    margin-right: 20px;
}
.side-link{
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
    /*width: fit-content;//it resize the lenth of dev box according to content*/
    flex-wrap: wrap;
    cursor: pointer;
     border-radius: 7%;
     padding: 10px 2px;
     padding-left: 7px;
    
     margin-right: 12px;
}
.sidebar hr{
    border: 0;  /* it make line 2d jo default 3d me rahta hai*/
    height: 1px;
    background: #ccc;
    width: 85%;
}
.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subscribed-list img{
width: 25px;
border-radius: 50%;
margin-right: 20px;
}

/* used for menu cration */
.small-sidebar{
    width:5%;
}  
.small-sidebar p{
    display:none;
} 
.small-sidebar h3{
    display: none;
}

.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}
 .side-link.active img{
   padding-bottom: 2px;
   border-bottom: 3px solid red;
}
@media (max-width:900px){
     /* .sidebar{width:0}  */

    /* //MERA CODE  */
    /* .small-sidebar2{
        width:0;
    } */
   /* .small-sidebar2{

   }
    */
    .small-sidebar2{
        width:0;
    }  
    .small-sidebar2 img{
        display: none;
    }
    .small-sidebar2 p{
        display:none;
    } 
    .small-sidebar2 h3{
        display: none;
    }
    
    .small-sidebar2 hr{
        width: 0;
        /* margin-bottom: 25px; */
    }

    
    
    /* override effedst of .small-sidebar toget effect of .sidebar */
    .small-sidebar{
        width:45%;
    }  
    .small-sidebar p{
        display:block;
    } 
    
    .small-sidebar h3{
        display: block;
    }
    
    .small-sidebar hr{
        border: 0;  /* it make line 2d jo default 3d me rahta hai*/
        height: 1px;
        background: #ccc;
        width: 85%;
        margin-bottom: 25px;
    }
    
}

/* my code */
 .side-link:hover{
    background: #eeecec;
}